/public/storage
Homestead.yaml
Homestead.json
/storage
/public/index.php
/public/error_log

/bootstrap/compiled.php
/vendor


/build/logs
/build/coverage


/app/tests/_log


.DS_Store


/.idea
/_ide_helper.php


/app/config/packages
/public/packages


/node_modules


.env